.billing-plan {
  display: grid;
  grid-template-columns: 3rem auto auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "icon title link"
    "icon price link";
  column-gap: 1rem;

  border-radius: 1rem;
  padding: 1rem;

  background: $colorNeutralVeryPaleBlue;

  &__change-link {
    grid-area: link;

    display: inline-grid;
    place-items: center end;

    color: $colorPrimaryBrightBlue;
    font-weight: 700;

    &:hover,
    &:focus-visible {
      text-decoration: none;
    }
  }

  &__icon {
    grid-area: icon;
  }

  &__icon-image {
    max-width: 100%;
  }

  &__price {
    grid-area: price;

    color: $colorNeutralDesaturatedBlue;
    font-size: 0.75rem;
  }

  &__title {
    grid-area: title;

    color: $colorNeutralDarkBlue;
    font-size: 1rem;
    font-weight: 900;
  }
}
