.container {
  width: 100%;
  padding: 1rem;
  margin: 0;

  @include tabletMin {
    margin: 0 auto;
    width: $screenTablet;
  }

  @include desktopMin {
    width: $screenDesktop;
  }

  @include hdMin {
    width: $screenHd;
  }
}
