.shadow {
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-color: #{rgba($colorNeutralDarkBlue, 0.05)};

  --shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-color);

  box-shadow: var(--shadow);

  &--md {
    --shadow-x: 0;
    --shadow-y: 4px;
    --shadow-blur: 6px;
  }

  &--lg {
    --shadow-x: 0;
    --shadow-y: 10px;
    --shadow-blur: 15px;
  }

  &--xl {
    --shadow-x: 0;
    --shadow-y: 20px;
    --shadow-blur: 25px;
  }
}
