:root {
  font-size: $fontSize;
  font-family: $fontFamily;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
*:focus-visible {
  outline: 2px solid invert($colorNeutralDarkBlue);
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: $colorPrimaryPaleBlue;
  background-image: url('../../images/pattern-background-desktop.svg');
  background-position: center -20rem;
  background-repeat: repeat-x;
  background-size: cover;
}

main {
  flex: 1 1 0;
}
