@mixin mobileMin {
  @media screen and (min-width: $screenMobile + 1) {
    @content;
  }
}

@mixin mobileMax {
  @media screen and (max-width: $screenMobile) {
    @content;
  }
}

@mixin tabletMin {
  @media screen and (min-width: $screenTablet + 1) {
    @content;
  }
}

@mixin tabletMax {
  @media screen and (max-width: $screenTablet) {
    @content;
  }
}

@mixin desktopMin {
  @media screen and (min-width: $screenDesktop + 1) {
    @content;
  }
}

@mixin desktopMax {
  @media screen and (max-width: $screenDesktop) {
    @content;
  }
}

@mixin hdMin {
  @media screen and (min-width: $screenHd + 1) {
    @content;
  }
}

@mixin hdMax {
  @media screen and (max-width: $screenHd) {
    @content;
  }
}

@mixin layout {
  width: 100%;
  padding: 1rem;
  margin: 0;

  @include tabletMin {
    margin: 0 auto;
    width: $screenTablet;
  }

  @include desktopMin {
    width: $screenDesktop;
  }

  @include hdMin {
    width: $screenHd;
  }
}
